<section id="chg-pass">
	<div class="container">
		<div class="row">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a routerLink="/home" translate>Home</a></li>
					<li><a routerLink="/account" translate>Account</a></li>
					<li class="active" translate>ChangePassword</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<account-side-nav></account-side-nav>
			</div>
			<div class="col-sm-9">
				<h2 class="title text-center" translate>ChangePassword</h2>
				<form name="chgPassForm" (ngSubmit)="chgPassForm.form.valid && changePassword()" #chgPassForm="ngForm">
					<div *ngIf="chgPassForm.submitted&&chgPassErr" class="error" role="alert" translate>{{chgPassErr}}</div>
					<input type="password" class="form-control" id="curPass" name="curPass" placeholder="{{'CurrentPasswordPlaceholder'|translate}}" [(ngModel)]="user.curPass" #curPass="ngModel" required />
					<div *ngIf="chgPassForm.submitted&&!curPass.valid" class="error" role="alert" translate>CurrentPassword</div>
					<input type="password" class="form-control" id="newPass" name="newPass" placeholder="{{'NewPasswordPlaceholder'|translate}}" [(ngModel)]="user.newPass" #newPass="ngModel" required />
					<div *ngIf="chgPassForm.submitted&&!newPass.valid" class="error" role="alert" translate>NewPassword</div>
					<input type="password" class="form-control" id="cnfPass" name="cnfPass" placeholder="{{'ConfirmPasswordPlaceholder'|translate}}" [(ngModel)]="user.cnfPass" #cnfPass="ngModel" required />
					<div *ngIf="chgPassForm.submitted&&!cnfPass.valid" class="error" role="alert" translate>ConfirmPassword</div>

					<button type="submit" [disabled]="!chgPassForm.form.valid||chgPassProc" class="btn btn-primary" translate>ChangePassword</button>
					<label *ngIf="chgPassProc" class="image-processing"></label>
				</form>
			</div>
		</div>
	</div>
</section>