@import '../../common/variables';


.category-products {
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.category-products .panel {
	background-color: $white;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
	background-color: $white;
	border: 0 none;
	color: $white;
	padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
	color: lighten($base-text-color, 10%);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}


.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: lighten($base-text-color, 10%);
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  padding-left: 20px;
}


.panel-body ul li a {
  color: lighten($base-text-color, 10%);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}