<div class="panel-group category-products" id="accordian_category_navigation">
	<!--category-productsr-->
	<div *ngFor="let cat of categories" class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#{{cat.identifier.split(' ').join('-')}}" data-parent="#accordian_category_navigation">
					<span class="badge pull-right"><i class="fa fa-plus"></i></span>
					<a [routerLink]="['/products/'+cat.url.join('/')]">{{cat.name}}</a>
				</a>
			</h4>
		</div>
		<div id="{{cat.identifier.split(' ').join('-')}}" [class.collapse]="!cat.inPath">
			<div class="panel-body">
				<ul>
					<li *ngFor="let subcat of cat.catalogGroupView">
						<a [routerLink]="['/products/'+subcat.url.join('/')]">{{subcat.name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
