@import './variables';
@import './staticPages.scss';

/*************************
*******Typography******
**************************/
@import url('//fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700');
@import url('//fonts.googleapis.com/css?family=Abel');

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-weight:400px;
}

ul {
	li {
		list-style: none;
	}
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;

	&:hover {
		outline: none;
		text-decoration:none;
	}

	&:focus {
		outline:none;
		outline-offset: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.btn {
	&:hover, 
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.navbar-toggle {
	background-color: #000;
}

a#scrollUp {
	bottom: 0px;
	right: 10px;
	padding: 5px 10px;
	background: $brand-color-primary;
	color: #FFF;
	-webkit-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite;
}

a#scrollUp i {
	font-size: 30px;
}

/*
.staticPage {
  background:
		  url("./images/static/forfBG.jpg"),
		  rgba(255, 253, 251, 0.76);
  background-size: cover;
  background-blend-mode: lighten;
}
*/
