@import './variables';
@import './staticPages.scss';

/*************************
*******Typography******
**************************/
@import url('//fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700');
@import url('//fonts.googleapis.com/css?family=Abel');

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-weight:400px;
}

ul {
	li {
		list-style: none;
	}
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;

	&:hover {
		outline: none;
		text-decoration:none;
	}

	&:focus {
		outline:none;
		outline-offset: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.btn {
	&:hover,
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.navbar-toggle {
	background-color: #000;
}

a#scrollUp {
	bottom: 0px;
	right: 10px;
	padding: 5px 10px;
	background: $brand-color-primary;
	color: #FFF;
	-webkit-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite;
}

a#scrollUp i {
	font-size: 30px;
}

.breadcrumbs {
  position: relative;
}

.breadcrumbs .breadcrumb {
  background:transparent;
  margin-bottom: 75px;
  padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
  background:$brand-color-primary;
  color: $white;
  padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
  content:"";
  height:auto;
  width: auto;
  border-width: 8px;
  border-style: solid;
  border-color:transparent transparent transparent $brand-color-primary;
  position: absolute;
  top: 11px;
  left:48px;
}

.breadcrumbs .breadcrumb > li + li:before {
  content: " ";
}

.image-processing {
	background: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==) no-repeat;
	width:16px;
	height:16px;
	margin-top:10px;
	margin-left:15px;
	margin-bottom:0px;
	margin-right:0px;
	padding: 0;
}

/*
.staticPage {
  background:
		  url("./images/static/forfBG.jpg"),
		  rgba(255, 253, 251, 0.76);
  background-size: cover;
  background-blend-mode: lighten;
}
*/
