// Variable test colors
// $brand-color-primary: limegreen;
// $brand-color-secondary: khaki;
// $brand-color-tertiary: maroon;

// Original Colors
// $brand-color-primary: #fe980f;
// $brand-color-secondary: #f0f0e9;
// $brand-color-tertiary: #363432;
// IBM Colors
$brand-color-primary: #2d74da;
$brand-color-secondary: #ebebeb;
$brand-color-tertiary: #363432;

$base-text-color: $brand-color-tertiary;

$white: #fff;
$black: #000;

$base: 10px;
