@import '../../../../common/variables.scss';

form span {
	display: block;
}

form span input {
	background:$brand-color-secondary;
	border: 0 none;
	color: #A6A6A1;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	outline: medium none;
	padding: 8px;
	width: 48%;
}
form span input:last-child {
	margin-left: 3%;
}

textarea {
	background: $brand-color-secondary;
	border: medium none;
	color: #A6A6A1;
	height: 195px;
	margin-bottom: 25px;
	margin-top: 15px;
	outline: medium none;
	padding-left: 10px;
	padding-top: 15px;
	resize: none;
	width: 99.5%;
}

button {
	background: $brand-color-primary;
	border: 0 none;
	border-radius: 0;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}