@import '../../common/variables';

#form {
	display: block;
	margin-bottom: 185px;
	margin-top: 185px;
	overflow: hidden;
}

.reset-password-form h2 {
	color: lighten($base-text-color, 10%);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 30px;
}

.reset-password-form form input {
	background: $brand-color-secondary;
	border: medium none;
	color: lighten($base-text-color, 10%);
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 40px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
}

.reset-password-form form span{
	line-height: 25px;
}

.reset-password-form form span input {
	width: 15px;
	float: left;
	height: 15px;
	margin-right: 5px;
}

.reset-password-form form button {
	float: left;
	background: $brand-color-primary;
	border: medium none;
	border-radius: 0;
	color: $white;
	display: block;
	font-family: 'Roboto', sans-serif;
	padding: 6px 25px;
}

.reset-password-form label input {
	border: medium none;
	display: inline-block;
	height: 0;
	margin-bottom: 0;
	outline: medium none;
	padding-left: 0;
}

.reset-password-error {
	margin-bottom: 15px;
	color: crimson;
}

.reset-processing {
	float: left;
	margin-top: 9px;
	margin-left: 15px;
}
