<section id="form">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<h2 class="title text-center" translate>LetUsHelp</h2>
				<p translate>EnterLoginInfo</p>
				<div class="reset-password-form">
					<form name="form1" (ngSubmit)="forgottenPasswordForm.form.valid && resetPassword()" #forgottenPasswordForm="ngForm">
						<div *ngIf="forgottenPasswordForm.submitted && resetPasswordErrorMsg" class="reset-password-error" role="alert" translate>{{resetPasswordErrorMsg}}</div>
						<input type="text" class="form-control" id="logonId" name="logonId" placeholder="{{'EmailPlaceholder'|translate}}" [(ngModel)]="resetLogonId" #logonId="ngModel" required />
						<div *ngIf="forgottenPasswordForm.submitted && !logonId.valid" class="reset-password-error" role="alert" translate>Email is required</div>

						<button type="submit" [disabled]="!forgottenPasswordForm.form.valid || resetPasswordProcessing" class="btn btn-default" translate>SendValidationCode</button>
						<img *ngIf="resetPasswordProcessing" class="reset-processing" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
