@import '../../../common/variables';


.order_label {
    display: inline-block;
    min-width: 50px;
}

#order_details .boldText {
    font-weight: bold;
}

.order_detail_shipping {
  border: 1px solid #E6E4DF;
  color: lighten($base-text-color, 10%);
  padding: 15px 15px 15px 15px;
  margin-bottom: 40px;
  min-height: 305px;
}


.order_detail_billing {
  border: 1px solid #E6E4DF;
  color: lighten($base-text-color, 10%);
  padding: 15px 15px 15px 15px;
  margin-bottom: 40px;
  min-height: 305px;
}

.summary_of_charge {
  padding-bottom: 9px !important;
}
.summary_of_charge {
  border: 1px solid #E6E4DF;
  color: lighten($base-text-color, 10%);
  padding: 15px 25px 15px 0;
  margin-bottom: 40px;
}
.summary_of_charge span {
  float: right;
}

.summary_of_charge ul li {
  background:#E6E4DF;
  color: lighten($base-text-color, 10%);
  margin-top: 10px;
  padding: 7px 10px;
  list-style: none;
  font-size: 15px;
  font-weight: 700;

}

.value {
    font-weight: 300;
 }
.total_value {
    color: #CA4200;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    max-width: 91px;
    text-align: right;
    width: 38%;
}

.order_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}

.order_info .order_menu {
  background: $brand-color-primary;
  color: $white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.order-action {
	background: $brand-color-primary;
	border: 0 none;
	border-radius: 0;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 40px;
}

.order-summary {
	background: $brand-color-primary;
	border: 0 none;
	border-radius: 0;
	color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;

}

.order-print {
	background: $brand-color-primary;
	border: 0 none;
	border-radius: 0;
	color: $white;
	font-family: 'Roboto', sans-serif;
  font-size: 15px;
  float: right;
	margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 15px;
}
