<div class="simple-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="title text-center">{{elements.title.value}}</h2>
				<p>
					{{elements.body.value}}
				</p>
			</div>
		</div>
	</div>
</div>
