if(!header.get('Content-Type')){
	header.append('Content-Type','application/json; charset=utf-8');
}

if (header.get('Accept').indexOf('application/json') > -1){
	header.set('Accept', 'application/json');
}

if ( header.get( 'content-type' ) === 'multipart/form-data' && Object.keys( form ).length > 0 ) {
	let formData = new FormData();
	for ( let p in form ) {
		if ( form[p].name !== undefined ) {
			formData.append( p, form[p], form[p].name );
		} else {
			formData.append( p, form[p] );
		}
	}
	body = formData;
}
else if ( Object.keys( form ).length > 0 ) {
	header.set( 'content-type', 'application/x-www-form-urlencoded' );
	for ( let p in form ) {
		formParams.append( p, form[p] );
	}
	body = formParams;
}

let requestOptions = new RequestOptions( {
	'params': queryParameters,
	'method': method,
	'headers': header,
	'body': body,
	'url': requestUrl
} );

return this.invokeService( requestOptions );