@import '../../common/variables';

/*************************
*******checkout CSS******
**************************/

.step-one {
  margin-bottom: -10px
}

.breadcrumbs {
  position: relative;
}

.breadcrumbs .breadcrumb {
  background:transparent;
  margin-bottom: 75px;
  padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
  background:$brand-color-primary;
  color: $white;
  padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
  content:"";
  height:auto;
  width: auto;
  border-width: 8px;
  border-style: solid;
  border-color:transparent transparent transparent $brand-color-primary;
  position: absolute;
  top: 11px;
  left:48px;
}

.breadcrumbs .breadcrumb > li + li:before {
  content: " ";
}

.register-req, .step-one .heading {
  background: none repeat scroll 0 0 $brand-color-secondary;
  color: $base-text-color;
  font-size: 20px;
  margin-bottom: 35px;
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
}

.checkout-options {
  padding-left: 20px
}

.checkout-options h3 {
  color: $base-text-color;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.checkout-options p {
  color: #434343;
  font-weight: 300;
  margin-bottom: 25px;
}

.checkout-options .nav li {
  float: left;
  margin-right: 45px;
  color: lighten($base-text-color, 10%);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.checkout-options .nav label {
  font-weight: normal;
}

.checkout-options .nav li a {
  color: $brand-color-primary;
  font-size: 18px;
  font-weight: normal;
  padding: 0
}

.checkout-options .nav li a:hover {
  background: inherit;
}

.checkout-options .nav i {
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
  background: $brand-color-primary;
  color:$white;
  font-size: 14px;
  padding: 2px 3px;
}

.register-req  {
  font-size: 14px;
  font-weight: 300;
  padding: 15px 20px;
  margin-top: 35px;
}

.register-req p {
  margin-bottom: 0
}

.shopper-info p, 
.bill-to p, 
.order-message p {
  color: lighten($base-text-color, 10%);
  font-size: 20px;
  font-weight: 300
}

.shopper-info .btn-primary {
  background: $brand-color-primary;
  border: 0 none;
  border-radius: 0;
  margin-right: 15px;
  margin-top: 20px;
}

.form-two, .form-one {
  float: left;
  width: 47%
}

.shopper-info > form > input, 
.form-two > form > select, 
.form-two > form > input, 
.form-one > form > input {
  background:$brand-color-secondary;
  border: 0 none;
  margin-bottom:10px;
  padding: 10px;
  width: 100%;
  font-weight: 300
}

.form-two > form > select {
  padding:10px 5px
}

.form-two {
  margin-left: 5%
}

.order-message textarea {
  font-size: 12px;
  height: 335px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.order-message label {
  font-weight:300;
  color: lighten($base-text-color, 10%);
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  font-size: 14px
}

.review-payment h2 {
  color: lighten($base-text-color, 10%);
  font-size: 20px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 20px
}

.payment-options {
  margin-bottom:125px;
  margin-top: -25px
}

.payment-options span label {
  color: lighten($base-text-color, 10%);
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

#cart_items .cart_info 
.table.table-condensed.total-result {
  margin-bottom: 10px;
  margin-top: 35px;
  color: lighten($base-text-color, 10%)
}

#cart_items .cart_info 
.table.table-condensed.total-result tr {
  border-bottom: 0
}

#cart_items .cart_info 
.table.table-condensed.total-result span {
  color: $brand-color-primary;
  font-weight: 700;
  font-size: 16px
}

#cart_items .cart_info 
.table.table-condensed.total-result 
.shipping-cost {
  border-bottom: 1px solid #F7F7F0;
}

#cart_items .cart_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}

#cart_items .cart_info .cart_menu {
  background: $brand-color-primary;
  color: $white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
  height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
  border-bottom: 0
}

.cart_info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}

#cart_items .cart_info .image {
  padding-left: 30px;
}

#cart_items .cart_info .cart_description h4 {
  margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
  color: $base-text-color;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: normal;

}

#cart_items .cart_info .cart_description p {
  color:lighten($base-text-color, 10%)
}

#cart_items .cart_info .cart_price p {
  color:lighten($base-text-color, 10%);
  font-size: 18px
}

#cart_items .cart_info .cart_total_price {
  color: $brand-color-primary;
  font-size: 24px;
}

.cart_product {
  display: block;
  margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
  background:$brand-color-secondary;
  color: lighten($base-text-color, 10%);
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}

.cart_quantity_input {
  color: lighten($base-text-color, 10%);
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  
}

.cart_delete  {
  display: block;
  margin-right: -12px;
  overflow: hidden;
}

.cart_delete a {
  background:$brand-color-secondary;
  color: $white;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background:$brand-color-primary
}

.user_info input, select, textarea {
  background: $brand-color-secondary;
  border:0;
  color: lighten($base-text-color, 10%);
  padding: 5px;
  width: 100%;
  border-radius: 0;
  resize: none
}
