@import '../../common/variables.scss';

/*************************
*******Product Details CSS******
**************************/


#details {
	padding: 0 25px;
}


.component-details {
	overflow: hidden;
}

.view-component img {
	width: 160px;
}

.view-component h2 {
	background: $brand-color-primary;
	bottom: 0;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 0;
	padding: 8px 20px;
	position: absolute;
	right: 0;
}



.component-information {
	overflow: hidden;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-top: 30px;
	position: relative;
}

.component-information h3 {
	color: $base-text-color;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-top: 0;
}

.component-information p {
	color: lighten($base-text-color, 10%);
	font-family: 'Roboto', sans-serif;
	margin-bottom: 5px;
}

.component-information span {
	display: inline-block;
	margin-bottom: 8px;
	margin-top: 18px;
}

.component-information span span {
	color: $brand-color-primary;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-right: 20px;
	margin-top: 0px;
}
.component-information span input {
	border: 1px solid #DEDEDC;
	color: lighten($base-text-color, 10%);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 33px;
	outline: medium none;
	text-align: center;
	width: 50px;
}

.component-information span label {
	color: lighten($base-text-color, 10%);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-right: 5px;
}

.cart {
	background: $brand-color-primary;
	border: 0 none;
	border-radius: 0;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.title {
	color: $brand-color-primary;
	font-size: 18px;
	font-weight: 700;
	margin: 0 15px;
	margin-bottom: 30px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		border: 1px solid #f5f5f5;
		bottom:8px;
		left: 0;
		width: 100%;
		height: 0;
		z-index: -2;
	}

	&:before {
		content: '';
		position: absolute;
		background: $white;
		bottom: -6px;
		width: 220px;
		height: 30px;
		z-index: -1;
		left: 50%;
		margin-left: -110px;
	}
}
